# CONFIGURACIÓN DEL SERVIDOR HTTP
PORT=8001
CORS_ORIGIN=*

# CONFIGURACIÓN DE LA BASE DE DATOS (POSTGRESQL 18)
DATABASE_URL="postgresql://dev_user:dev_password@localhost:5432/template_hono_db?schema=public"
POSTGRES_PORT=5432
POSTGRES_DB=template_hono_db
POSTGRES_USER=dev_user
POSTGRES_PASSWORD=dev_password
